:root {
    --main-color:#10cab7;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}
@media (min-width:768px) {
    .container {
        width: 750px;
    }    
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }    
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }    
}
.special-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -2px;
    text-align: center;
    margin: 0;
}
h2 + p {
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #888;
    letter-spacing: -1.4px;
}
@media ( max-width: 767px ) {
    .special-heading {
        font-size: 60px;
    }
     h2 + p {
        margin-top: -20px;
        color: #888;
        font-size: 15px;
    }
}

.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo img {
    width: 60px;
}
.header .links {
     position: relative;
}
.header .links .icon:hover span:nth-child(2) {
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links:hover ul{
    display: block;
}
.header .links ul {
    position: absolute;
    right: 0;
    background-color: #aaa;
    min-width: 220px;
    top: 23px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    
}
.header .links ul a li {
    list-style: none;
    padding: 16px; 
    color: #000;
    font-weight: 600;
    letter-spacing: 0.9px;
}
.header .links ul a li:hover {
    background-color: tomato;
    
}
.header .links ul a:last-child:hover li{
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.header .links ul a:first-child:hover li{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.header .links ul a{
    text-decoration: none;
    
}
 .header .links ul a:hover li{
    color: white;
} 
.header .links ul a:not(:last-child) li{
    border-bottom: 1px solid cyan;
}
.landing {
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    height:calc(100vh - 68px);
    position: relative;

}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    width: 320px;
    
    text-align: center;
}
.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    position: relative;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
@media (min-width: 667px ) and (max-width: 991px){
    .features .third {
        position: relative;
        left: 50%;
    }
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800px;
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 15px;
}

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
}

.services-content .col .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 797px) {
    .services-content .col .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services-content .col .srv i {
    color: #10cab7;
flex-basis: 60px;   
}
.services-content .col .srv .text {
    flex: 1;
}
.services-content .col .srv .text h3 {
margin: 0;
}
.services-content .col .srv .text p {
font-weight: 300;
line-height: 1.6;

}
.services-content .col .image {
    position: relative;
    text-align: center; 
    margin-right: 20px;   
}

.services-content .col .image::before {
    content: '';
    width: 80px;
    height: calc(100% + 60px );
    background-color: #10cab7;
    position: absolute;
    top: -30px;
    right: 20px;
    z-index: -1;
    
}
.services-content .col .image img {
    width: 260px;
}
@media (max-width:1199px) {
    .services-content .col .image img {
        display: none;
    }
    .services-content .col .image::before {
        display: none;
    }
}
@media (max-width:600px) {
    .services-content .col .image img {
        display:block;
        width: 100%;
    }
    .services-content .col .image::before {
        display: block;
        right:-20px
    }
}
/* Start portfolio */


@media ( max-width: 767px ) {
    .portfolio {
        margin-top: 40px;
    }
    .special-heading {
        font-size: 60px;
    }
    .portfolio .container h2 + p {
       margin-top: -15px;
       font-size: 15px;
       color: #888;
    }

}
.portfolio .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    gap: 20px;
    margin-top: 60px;
    
}

.portfolio .container .cards .card h3 {
    color: lightseagreen;  
    font-weight: 800px; 
}
.portfolio .container .cards img {
    width: 100%;
    height: 375px;
    border-radius: 10px;
    border-left: 1px solid #10cab7;
}
@media (min-width: 667px ) and (max-width: 991px){
    .portfolio .container .cards .card:nth-child(3) {
        position: relative;
        left: 50%;
        
    }
}
/* End portfolio */

/* Start About */
.about {
    margin-top: 60px;
}

.about .container .about-contain {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 60px;
}

.about .container .about-contain .about-image {
    width: 270px;
    height: 375px;
    position: relative;
}
.about .container .about-contain .about-image::before {
    content: "";
    width: 60px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    position: absolute;
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .container .about-contain .about-image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 60px solid #10cab7;  
    border-bottom: 60px solid #10cab7; 
    z-index: -1;
    right: -130px;
    top: -35px;
}
@media (max-width: 991px ) {
    .about .container .about-contain .about-image::before ,
    .about .container .about-contain .about-image::after {
        display: none;
    }
}
.about .container .about-contain .about-image img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: -2px 2px 8px 2px #ebeced ;
}
@media (max-width: 991px ) {
    .about .container .about-contain {
        flex-direction: column;
        text-align: center;
    }
    .about .container .about-contain .about-image {
        margin: 0 auto 60px;
    }
    .about .container .about-contain .about-image img {
        width: 200%;
    }
}
.about .container .about-contain .about-text p:first-child {
    font-weight: bold;
    
}

.about .container .about-contain .about-text hr {
    background-color: #10cab7;
    width: 50%;
    display: inline-block;
   height: 1px;  
}
.about .container .about-contain .about-text p:last-child {
    font-size: 13px;
    
}
.about .container .about-contain .about-text {
    flex-basis: calc(100% - 500px);
}

/* Start Contact */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact .info {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contact .container .label {
    font-weight: 800;
    font-size:35px;
    color: #0a7268;
    margin-bottom: 15px;
    letter-spacing: -1px;
}
.contact .container .link {
    display: block;
    text-decoration: none;
    font-size: 35px;
    font-weight: 800;
    color: #10cab7;
}
.contact .container .social {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-weight: 800;
}
.contact .container .social i {
    margin: 0 4px;
    
}
.coloricon1 {
    color: #FF0000;
}
.coloricon2 {
    color: #4267B2;
}
 .coloricon3 {
    color: #1DA1F2;
}
.contact .container .info .social i . {

}
.contact .container .social i .fa-facebook {

}
i .fab .fa-twitter {
  
}
@media (max-width: 767px) {
    .contact .container .label ,
    .contact .container .link {
        font-size: 20px;
    }
}

/* End Contact */

/* Start Footer */

.footer {
    background-color: #08534c;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

/* End Footer */



